/********** HEADER **********/

header {
  display: flex;
  flex-direction: row;
  font-family: articulat-cf, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  float: right;
  background-color: white;
  width: 100%;
  justify-content: right;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  padding-top: 25px;
}

header a {
  text-decoration: none;
  width: 190px;
  height: 50px;
  text-align: center;
  color: black;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.current {
  color: #a6d1e6;
}

header a:hover {
  color: #a6d1e6;
}

/********** BUTTON ***********/

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.button-container a {
  text-decoration: none;
}

.button {
  width: 220px;
  height: 40px;
  background-color: #cbeeff;
  color: white;
  font-family: articulat-cf, sans-serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.button:hover {
  background-color: #a6d1e6;
}

/********** RESUME ***********/

.resume {
  width: 100%;
  display: flex;
  text-align: center;
  display: block;
}
.resume img {
  margin: auto;
  width: 50%;
  text-align: center;
  display: block;
  border: 3px solid #a6d1e6;
  margin-bottom: 110px;
  margin-top: 30px;
  box-shadow: 35px 35px #a6d1e6;
}

a {
  text-decoration: none;
}

/********** FOOTER ***********/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footericons {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.footer a {
  text-decoration: none;
}
.footer img {
  width: 30px;
  height: auto;
}

@media screen and (max-width: 600px) {
  .resume img {
    width: 80%;
  }

  .resume img {
    box-shadow: 15px 15px #a6d1e6;
  }
}

/* Resume section */
@media screen and (max-width: 1200px) {
  #resume-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
